@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ededed;
}

#navbar {
    background-color: #0B0D17;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar a {
    padding: 1.45em 2em;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-family: monospace;
}

#navbar a:hover {
    background-color: #e6da3d;
    color: #0B0D17;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6da3d;
}

#welcome-section h1 {
    margin: 1em 0;
    color: #0B0D17;
    font-size: 4em;
    font-family: 'Rubik';
}

#welcome-section p {
    color: #0B0D17;
    font-family: Calibri;
    font-size: 2em;
    font-style: italic;
}

#projects {
    margin: 0 1em;    
}

#projects h2 {
    font-family: 'Rubik';
    color: #0B0D17;
    text-align: center;
    margin: 1em 0;
    text-decoration: underline #683;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.project img {
    width: 100%;
    display: block;
}

#contacto {
    margin-top: 4em;
}

.project p {
    background-color: #0B0D17;
    color: #fff;
    padding: .4em .5em;
    text-align: center;
    font-family: monospace;
}

.project a {
    background-color: #555;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .5em .5em;
    font-family: 'Rubik';
    border: 2px solid #0B0D17;
}

.project a:hover {
    background-color: #ededed;
    color: #0B0D17;
}

#contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 16em;
}

#contacto h2 {
    font-family: 'Rubik';
    color: #0B0D17;
    text-align: center;
    margin: 1em 0;
    text-decoration: underline #683;
    font-size: 2.2em;
}

.contacto__links a {
    text-decoration: none;
    color: #0B0D17;
    margin: 0 1.2em;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px #0B0D17;
    font-family: Calibri;
}

.contacto__links a:hover{
    color: #e6da3d;
}

i {
    margin: 0 .3em;
}

footer {
    background-color: black;
    color: #ededed;
    height: 1.5em;
}



@media only screen and (max-width:500px) {
    #navbar {
        justify-content: center;
    }

    #welcome-section h1 {
        text-align: center;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 1em;
    }

    #projects {
        height: 32em;
    }

    #contacto {
        justify-content: flex-start;
    }

    .contacto__links {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}

